name: Build and deploy
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - 'LICENSE'
      - 'CODEOWNERS'
      - 'dokumentasjon/**'
      - 'lokalutvikling/**'
jobs:
  build-app:
    name: Build and test
    permissions:
      contents: read
      packages: write
      id-token: write
    runs-on: ubuntu-latest
    outputs:
      build-version: ${{ steps.generate-build-version.outputs.build-version }}
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6.0.1

      - run: git fetch --prune --unshallow

      - uses: nais/login@v0
        with:
          team: k9saksbehandling

      - name: Sette opp Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v6.2.0
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'

      - name: Generate build version
        id: generate-build-version
        run: |
          echo "build-version=$(date +%Y.%m.%d.%H%M%S)-$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Print build version
        run: echo "Generated build-version is ${{ steps.generate-build-version.outputs.build-version }}"

      - name: Install server dependencies
        run: npm install
        working-directory: server
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build server
        run: npm run build
        working-directory: server

      - name: Bygg og push docker image
        uses: navikt/sif-gha-workflows/.github/actions/maven/build-push-docker-image@main # ratchet:exclude
        with:
          build-version: ${{ steps.generate-build-version.outputs.build-version }}
          push-image: ${{ github.ref_name == 'main' }}
          docker_context: "./server"
          dockerfile: "./server/Dockerfile"
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy-dev:
    name: Deploy dev
    permissions:
      contents: write
      id-token: write
    if: github.ref_name == 'main'
    needs: build-app
    uses: navikt/sif-gha-workflows/.github/workflows/maven-deploy.yml@main # ratchet:exclude
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-gcp
      input_vars_file: .deploy/dev-gcp-k9saksbehandling.json
      naiserator_file: .deploy/naiserator.yaml
    secrets: inherit

  deploy-prod:
    name: Deploy prod
    permissions:
      contents: write
      id-token: write
    if: github.ref_name == 'main'
    needs: [build-app, deploy-dev]
    uses: navikt/sif-gha-workflows/.github/workflows/maven-deploy.yml@main # ratchet:exclude
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: prod-gcp
      input_vars_file: .deploy/prod-gcp-k9saksbehandling.json
      naiserator_file: .deploy/naiserator.yaml
    secrets: inherit
